.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
  background-color: white;
  padding: 10px;
}
.grid-item {
	background-color:#f2f2f2;
	position: relative;
	border-radius: 4px;
	margin: 5px;
	padding: 0px;
	height: 130px;
	font-size: 12px;
	text-align: left;
}

.menuItemImage{
	position: absolute;
	left: 0px;
	top: 45px;
	border-radius: 3px;
}

.menuButton{
	padding-top: 5px;
	position: absolute;
	bottom: 15px;
	right: 10px;
	height: 25px;
	width: 60px;
	border: none;
	color: white;
	background-color: #00643C;
	border-radius: 20px
}

.scrollable{
	overflow: scroll;
}

#storesList{
	padding: 10px;
	display: inline-block;
	text-align: left;
	height: 420px;
	width: 20%;
}

#mapContainer{
	display: inline-block;
	text-align: right;
	height: 420px;
	width: 78%;
	float: right;
}

#storeSearch{
	display: inline;
	border: 1px solid #f2f2f2;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 25px;
	float: right;
	width: 250px;
	height: 30px;
	padding: 3px;
	font-size: 11px
}

#storeSearchButton{
	display: inline;
	border: none;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 25px;
	margin-left: 10px;
	float: right;
	width: 80px;
	height: 30px;
	padding: 3px;
	font-size: 11px;
	color: white;
	background-color: #00643C; 
}

.storeResult{
	width: 100%;
	height: 90px;
	background-color: #f2f2f2;
	padding: 5px;
	border-radius: 4px;
	margin-top: 5px;
	cursor: pointer;
	border: none;
}

.modal{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,.5);
}

#signInTitle{
	font-weight: bold;
	color: white;
	text-align: center;
}

#signInBox{
	text-align: center;
	background:white; 
	border-radius: 15px;
	width: 310px; 
	height: 300px; 
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}

#registerBox{
	text-align: center;
	background:white; 
	border-radius: 15px;
	width: 310px; 
	height: 460px; 
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}

.signInField{
	width: 250px;
	height: 40px;
	font-family: Helvetica;
	font-size: 12px;
	padding: 8px;
	margin-top: 12px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
}

.settingsField{
	display: block;
	width: 250px;
	height: 40px;
	font-family: Helvetica;
	font-size: 12px;
	padding: 8px;
	margin-bottom: 12px;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
}

.submitButton{
	width: 250px;
	height: 40px;
	color: white;
	background-color: #00643C;
	border: none;
	border-radius: 4px;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

.submitButton:hover{
	background-color: #00975b;
}

#passwordRecovery{
	margin-top: 12px;
	font-size: 10px
}

button:focus, input:focus{
    outline: none;
}

.error{
	color: #ff7f7f;
	font-size: 12px;
}

.settingsCard{
	display: inline-table;
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	height: 580px;
	width: 270px;
	padding: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}

#paymentInfo{
	display: inline-table;
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	height: 580px;
	width: 600px;
	padding: 20px;
	margin-bottom: 10px;
}

.paymentMethod{
	width: 100%;
	height: 125px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

.preferred{
	border-color: #7cc0ff;
	background-color: #ecf6ff;
}

.nextButton{
	display: inline;
	width: 250px;
	height: 30px;
	margin-top: 25px;
	float:right;
	border: none;
	border-radius: 3px;
	color: white;
}

.nextEnabled{
	background-color: #00643C;
}

.nextEnabled:hover{
	background-color: #00975b;
}

.nextDisabled{
	background-color: grey;
}

.chosenStore{
	border: 1px solid #7cc0ff;
	background-color: #ecf6ff;
}